body{
  background-image: url(./background.jpg);
  background-size: cover;
}
.navbar{
  height: 50px;
  background-color: rgb(77, 191, 202);
  align-content: center;
}
.navbar ul{ 
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.navbar li{
  color: white;
  list-style: none;
  font-size: x-large;
  &:hover{
    text-decoration: underline;
  }
}
a{
  text-decoration: none;
}